* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F5F6FA;

}

.centro {
    position: relative;
    border-radius: 25px;
    width: 70%;
    height: 600px;
    margin: auto;
    margin-top: 70px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 1px rgba(21, 34, 50, 0.182);
}

.conteudo-esq {
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(10deg, #FFCC00, #FFD52B, #FFDE59 70%);
    color: #fff;
}

.titulo-esq {
    position: absolute;
    color: #fff;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 235px;
}

.titulo-esq h1{
    padding: 5px;
}
.titulo-esq p{
    padding: 5px;
}

button {
    background-color: #fff;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 5px;
    border: none;
    color: #333;
    cursor: pointer;
}


.conteudo-dir {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    background-color: #fff;
}

.login-dir {
    width: 80%;
    height: 80%;
    margin: 50px auto;
}

.login-dir img{
    width: 20px;
    border: none;
}

.import {
    padding: 30px;
}

.detalhes-img {
    display: block;
    margin-top: 380px;
    margin-left: -50px;
}

.titulo-cliente {
    padding: 25px;
    text-align: center;
}

.titulo-cliente h1{ 
    color: #333;
    font-size: 28px;
}

#button {
    background-color: #FFD52B;
    margin: auto;
    width: 220px;
    height: 43px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.import1 {
    margin: auto;
    width: 220px;
    height: 43px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 5px;
    border: 1px solid #eee;
    color: #eee;
    cursor: pointer;}

.import3 {
    border: 1px solid #111;

}   


