{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
  <link rel="stylesheet" href="{% static '/styles/cadastrar-clientes.css' %}">
  <link rel="shortcut icon" href="{% static '/assets/img/logo2.ico' %}">
  <title>PARKIN</title>
</head>
<body>
  <main>
    <div class="centro">
      <div class="conteudo-esq">
        <div class="titulo-esq">
          <h1>Cadastro</h1>
          <p>Seu lugar é aqui. Fácil e rápido!</p>
          <button class="saibamais">Saiba Mais</button>
        </div>
        <img class="detalhes-img" src="{% static 'assets/img/detalhes.png' %}">
      </div>
      <div class="conteudo-dir">
        <div class="titulo-cliente">
          <h1>Cliente</h1>
        </div>
        <div class="login-dir">
          <form action="" method="post">
            <div class="login">
              <div class="titulos">
                <h1>Cadastro</h1>
                <p>Faça parte!</p>
              </div>
              {% csrf_token %}
              <div class="import">
                <img src="{% static 'assets/icons/user.svg' %}" class="email-img">
                <div class="form">
                  <input type="text" name="nome" placeholder="Nome" id="nome" required>
                </div>
              </div>
                {% if erro_email == False%}
                <div class="import">
                  <img src="{% static 'assets/icons/email.svg' %}" class="email-img">
                  <div class="form">
                    <input type="email" name="email" placeholder="E-mail" id="email" required>
                  </div>
                </div>
                {% else %}
                <div class="import" style="border: 1px solid #d50303;">
                  <img src="{% static 'assets/icons/email.svg' %}" class="email-img">
                  <div class="form">
                    <input type="email" name="email" placeholder="E-mail" id="email" required>
                  </div>
                </div>
                {% endif %}
                <div class="import">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha" placeholder="Senha" id="senha" required>
                  </div>
                </div>
                {%if erro_senha == False%}
                <div class="import">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha2" placeholder="Confirme a senha" id="senha" required>
                  </div>
                </div>
                {% else %}
                <div class="import" style="border: 1px solid #d50303;">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha2" placeholder="Confirme a senha" id="senha" required>
                  </div>
                </div>
                {% endif %}
                {%if erro_idade == False%}
                <div class="import">
                  <img src="{% static 'assets/icons/calendar.svg' %}" class="email-img">
                  <div class="form">
                    <input type="date" name="data" id="data" required>
                  </div>
                </div>
                {%else%}
                <div class="import" style="border: 1px solid #d50303;">
                  <img src="{% static 'assets/icons/calendar.svg' %}" class="email-img">
                  <div class="form">
                    <input type="date" name="data" id="data" required>
                  </div>
                </div>
                {%endif%}
              <div class="check">
                <input type="checkbox" name="check" id="check">
                {%if erro_check == False%}
                <p class="termos" onclick="openModal()">Termos de consentimento</p>
                {%else%}
                  <p class="termos-erro" onclick="openModal()">Termos de consentimento</p>
                {%endif%}
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                  <h1 class="termo">Termos de consentimento para clientes</h1><br/>
                  <p class ="texto">   A equipe por trás do ParkIn desenvolve tecnologias e serviços com o objetivo
                    de facilitar a conexão entre as pessoas, promover a criação de comunidades e
                    impulsionar o crescimento dos negócios. Estes Termos regem o uso do ParkIn, a
                    menos que seja expressamente declarado que outros termos se aplicam.</p><br/>
                    <p class = "texto">Não cobramos pelo uso do ParkIn, pois nossa receita é gerada através de
                      anúncios exibidos aos usuários. Empresas, organizações e outras entidades nos
                      pagam para promover seus produtos e serviços aos usuários da plataforma. Ao
                      utilizar nossos produtos, você concorda que podemos exibir anúncios que
                      consideramos possivelmente relevantes para você e seus interesses. Utilizamos
                      seus dados pessoais para determinar quais anúncios personalizados serão exibidos
                      a você.</p><br>
                      <p class = texto>É importante ressaltar que não vendemos seus dados pessoais para
                        anunciantes nem compartilhamos informações de identificação pessoal, como
                        nome, endereço de e-mail ou outras informações de contato, a menos que
                        tenhamos sua permissão específica. Em vez disso, os anunciantes nos informam
                        sobre os tipos de público que desejam alcançar com seus anúncios, e nós os
                        exibimos para pessoas que possam estar interessadas. Além disso, oferecemos
                        relatórios aos anunciantes sobre o desempenho dos anúncios para ajudá-los a
                        entender como as pessoas estão interagindo com o conteúdo. Ademais:</p><br/>
                        <p class = "ponto">● O cliente entende que apenas usuários regularizados poderão visualizar as
                          vagas.<br/>
                          ● Apenas usuários maiores de idade podem utilizar o aplicativo.<br/>
                          ● O usuário entende que o aplicativo é pensado apenas para carros e motos.<br/>
                          ● A veracidade dos dados inseridos é por conta do usuário, sendo este
                          responsável pelas consequências da falsidade.</p><br/>
                          <p class = "texto">Ao clicar em "Aceitar" ou utilizar os serviços oferecidos pelo ParkIn, você
                            concorda integralmente com os termos e condições deste Termo de Consentimento,
                            e concorda em aderir a eles de forma voluntária e consciente.</p>
                  </div>
                </div>
              </div>
              <div class="botao">
                <input type="submit" value="Cadastrar" id="button">
                <div class="entrar">
                  <p>Já possui uma conta?</p>
                  <a href="/clientes/entrar">Entrar</a>
                </div>
              </div>
              <div class="botoes">
                <div class="b-estacionamento">
                  <a href="/empresas/cadastrar" class="ativo">Estacionamento</a>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script>
    function openModal() {
  document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  </script>
</body>

</html>

<body>