<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Link para o arquivo CSS do Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Link para o seu arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="chat.css">
    <!-- Link para o arquivo JavaScript do Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- Link para a biblioteca jQuery -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Seu link para o arquivo JavaScript personalizado -->
    <script src="caminho/para/seu/arquivo.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext form-control" placeholder="Insira sua mensagem" onkeydown="sendMessage(event)"/>
                    </div> 
                </div>
                <div style="padding:10px;">
                    <span class="glyphicon glyphicon-share-alt" onclick="sendMessageByClick()"></span>
                </div>                
            </div>
        </div>
    </div>
</div>

<script>
    // Função para inserir mensagens no chat
function insertChat(who, text) {
    // Obtém a data e hora atuais
    var date = new Date();
    // Formata a hora no formato AM/PM
    var time = formatAMPM(date);

    // Cria a estrutura HTML da mensagem com base em quem está enviando (me ou you)
    var control = who === "me" ?
        // Se a mensagem é do usuário (me), cria o HTML correspondente
        '<li style="width:100%">' +
        '<div class="msj macro">' +
        '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
        '<div class="text text-l">' +
        '<p>'+ text +'</p>' +  // Insere o texto da mensagem
        '<p><small>'+time+'</small></p>' +  // Insere a hora formatada
        '</div>' +
        '</div>' +
        '</li>' :
        // Se a mensagem é do interlocutor (you), cria o HTML correspondente
        '<li style="width:100%;">' +
        '<div class="msj-rta macro">' +
        '<div class="text text-r">' +
        '<p>'+text+'</p>' +  // Insere o texto da mensagem
        '<p><small>'+time+'</small></p>' +  // Insere a hora formatada
        '</div>' +
        '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
        '</li>';

    // Adiciona a mensagem ao elemento <ul> (lista) e rola para o final
    $("ul").append(control).scrollTop($("ul").prop('scrollHeight'));

    }

    // Função para enviar mensagem ao pressionar Enter
    function sendMessage(event) {
        if (event.key === "Enter") {
            var text = $(".mytext").val();
            if (text !== "") {
                insertChat("me", text);
                $(".mytext").val('');
                respondToMessage(text);
            }
        }
    }

    // Função para enviar mensagem ao clicar no ícone de enviar
    function sendMessageByClick() {
        var text = $(".mytext").val();
        if (text !== "") {
            insertChat("me", text);
            $(".mytext").val('');
            respondToMessage(text);
        }
    }

    // Função para responder à mensagem do usuário
    function respondToMessage(message) {
        // Verifica se a mensagem do usuário contém a palavra-chave "estacionamento"
        if (message.toLowerCase().includes("estacionamento")) {
            // Responde com uma mensagem específica sobre estacionamento
            var response = "Claro! Recomendo o Estacionamento XYZ, que fica na Rua ABC. Ele é bem avaliado pelos usuários.";
            insertChat("you", response);
        } else {
            // Responde de maneira genérica
            var genericResponse = "Entendi! Como posso ajudar mais?";
            insertChat("you", genericResponse);
        }
    }

    // Função para formatar a hora no formato AM/PM
    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // a hora '0' deve ser '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

    // Objeto representando o usuário
    var me = {
        avatar: "img/d01.jpg"
    };

    // Objeto representando o interlocutor
    var you = {
        avatar: "img/logo.png"
    };

    // Exemplo de mensagem inicial
    insertChat("you", "Olá! Como posso ajudar?");
</script>

</body>
</html>
