{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
  <link rel="stylesheet" href="{% static '/styles/entrar-clientes.css' %}">
  <title>PARKIN</title>
</head>
<body>
  <main>
    <div class="centro">
      <div class="conteudo-esq">
        <div class="titulo-esq">
          <h1>Entrar</h1>
          <p>Seu lugar é aqui. Fácil e rápido!</p>
          <button class="saibamais">Saiba Mais</button>
        </div>
        <img class="detalhes-img" src="{% static 'assets/img/detalhes.png' %}">
      </div>

      <div class="conteudo-dir">
        <div class="titulo-cliente">
          <h1>Cliente</h1>
        </div>
        <div class="login-dir">
          <form action="" method="post">
            <div class="login">
              <div class="titulos">
                <h1>Entrar</h1>
                <p>Bem vindo de volta!</p>
              </div>
              {% csrf_token %}
                  <div class="import1">
                    <img src="{% static 'assets/icons/email.svg' %}" class="email-img">
                    <div class="form">
                      <input type="email" name="email" id="email">
                    </div>
                  </div>
                  <div class="import3">
                    <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                    <div class="form">
                      <input type="password" name="senha" id="senha">
                    </div>
                  </div>
                  <div class="botao">
                    <input type="submit" value="Entrar" id="button">
                    <div class="entrar">
                      <p>Não possui uma conta?</p>
                      <a href="/clientes/cadastrar">Cadastrar-se</a>
                    </div>
              </div>
              <div class="botoes">
                <div class="b-estacionamento">
                  <a href="/empresas/entrar" class="ativo">Estacionamento</a>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </main>
</body>

</html>

<body>