{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
  <link rel="stylesheet" href="{% static '/styles/entrar.css' %}">
  <title>PARKIN</title>
</head>
<body>
  <main>
    <div class="centro">
      {% comment %} <h1>Entrar</h1>
      <div class="botoes">
        <a href="/clientes/entrar/" class="ativo">Clientes</a>
        <a href="/empresas/entrar/">Empresa</a>
      </div> {% endcomment %}
      <div class="conteudo-esq">
        <div class="titulo-esq">
          <h1>Entrar</h1>
          <p>Seu lugar é aqui. Fácil e rápido!</p>
          <button class="saibamais">Saiba Mais</button>
        </div>
        <img class="detalhes-img" src="{% static 'assets/img/detalhes.png' %}">
      </div>

      <div class="conteudo-dir">
        <div class="titulo-cliente">
          <h1>Cliente</h1>
        </div>
        <div class="login-dir">
          <form action="" method="post">
            {% csrf_token %}
              {% if email_apparence == True %}
                <div class="import1">
                  <img src="{% static 'assets/icons/email.svg' %}">
                  {{ form.email }}
                  <label class="email" for="email">{{ form.email.label }}</label>
                </div>
                {%else%}
                <div class="import2" style="background-color: rgba(255, 0, 0, 0.466);">
                  <img src="{% static 'assets/icons/email.svg' %}">
                  {{ form.email }}
                  <label for="email">{{ form.email.label }}</label>
                  <span>email inválido</span>
                </div>
            {%endif%}
            {% if senha == confirme  %}
              <div class="import3">
                <img src="{% static 'assets/icons/senha.svg' %}">
                {{ form.senha }} 
                <label for="senha">{{ form.senha.label }}</label>
              </div>
            {%else%}
            <div class="import4">
              <img src="{% static 'assets/icons/senha.svg' %}">
              {{ form.senha }}
              <label for="senha">{{ form.senha.label }}</label>
            </div>
            {%endif%}
            <div class="entrar">
              <p>Não possui uma conta?</p>
              <a href="/clientes/cadastrar">Cadastrar-se</a>
            </div>
            <input type="submit" value="Entrar" id="button">
          </form>
        </div>
      </div>
    </div>
  </main>
</body>

</html>

<body>