<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Perguntas Frequentes</title>
</head>
<body>

    <div class="qa-container">
        <h1>Perguntas Frequentes</h1>

        <div class="question">
            <h2>Como podemos simplificar o processo de busca por vagas de estacionamento, tornando-o mais intuitivo para os usuários?</h2>
            <p>Podemos simplificar o processo de busca por vagas de estacionamento implementando uma interface limpa e intuitiva...</p>
        </div>

        <div class="question">
            <h2>Qual seria a melhor maneira de apresentar as opções de filtragem para que os usuários possam facilmente personalizar sua busca por preço e localidade?</h2>
            <p>A melhor maneira de apresentar as opções de filtragem seria criar uma página dedicada à personalização da busca...</p>
        </div>

        <div class="question">
            <h2>Existe alguma funcionalidade adicional que poderia ser incorporada à plataforma para melhorar a experiência do usuário na visualização em tempo real da disponibilidade de vagas?</h2>
            <p>Para melhorar a experiência do usuário na visualização em tempo real da disponibilidade de vagas, podemos integrar um mapa interativo...</p>
        </div>
    </div>

</body>
</html>
