{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PARKIN</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/cadastro.css' %}">
</head>
<body>
    <header>
    {% block navbar %}
        {% include 'empresas/navbar.html' %}
    {% endblock %}
    </header>
    <div class="content1">
        <nav class="side-bar">
            <ul>
                <div class="dashboard">
                    <li>
                        <a href="/empresas/dashboard">
                            <img src="{% static 'assets/icons/dashboard-icon2.svg' %}" alt="Icone do Dashboard" class="dashboard-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/dashboard">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </div>
                <div class="summary">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/summary-icon.svg' %}" alt="Meus Resumos" class="summary-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/resumos">
                            <p>Meus Resumos</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/estacionamento">
                            <img src="{% static 'assets/icons/park-icon.svg' %}" alt="Estacionamentos" class="park-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/estacionamento">
                            <p>Estacionamento</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/notificacoes">
                            <img src="{% static 'assets/icons/notification-icon.svg' %}" alt="Meus Resumos" class="notification-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/notificacoes">
                            <p>Notificações</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p1">Outras Informações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/ajuda">
                            <img src="{% static 'assets/icons/help-icon.svg' %}" alt="Icone de Ajuda" class="help-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/ajuda">
                            <p>Precisa de Ajuda?</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/comofunciona">
                            <img src="{% static 'assets/icons/help2-icon.svg' %}" alt="Icone de Ajuda 2" class="help2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/comofunciona">
                            <p>Como Funciona?</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p2">Configurações</p>
                </li>
                <div class="signup2">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/signup2-icon2.svg' %}" alt="Icone de Cadastro 2" class="signup2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>Cadastro do Estacionamento</p>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="content2">
        <div id="form-container">
            <h2>Cadastro de Vaga de Garagem</h2>
            <form id="garageForm" method="post">
                {% csrf_token %}
                <div class="row-container">
                    <label for="valor">Valor:</label>
                    {{form.valor}}

                    <div class="checkbox-container">
                        <label for="vagaCoberta"> Coberta:</label>
                        {{form.coberto}}
                    </div>

                </div>

                <label>Horarios:</label>
                <div style="display: flex;">Abre às:{{form.hora_abre}}</div>
                <div style="display: flex;">Fecha às:{{form.hora_fecha}}</div>

                <label>Dias Abertos:</label>
                <div class="checkbox-group" style="flex-direction: column;">
                    <div>
                    {{form.segunda}}
                    {{form.segunda.label}}

                    </div>

                    <div>
                    {{form.terca}}
                    {{form.terca.label}}
                    </div>

                    <div>
                    {{form.quarta}}
                    {{form.quarta.label}}
                    </div>

                    <div>
                    {{form.quinta}}
                    {{form.quinta.label}}
                    </div>

                    <div>
                    {{form.sexta}}
                    {{form.sexta.label}}
                    </div>
                    <div>
                    {{form.sabado}}
                    {{form.sabado.label}}
                    </div>
                    <div>
                    {{form.domingo}}
                    {{form.domingo.label}}
                    </div>

                </div>
        
                <!-- Campo de descrição -->
                <label for="descricao">Descrição:</label>
                {{form.descricao}}
        
                <label for="logradouro">Endereço:</label>
                {{form2.local}}

                <!-- Campos para endereço -->
                <label for="logradouro">Logradouro:</label>
                {{form2.logradouro}}
        
                <label for="numero">Número:</label>
                {{form2.numero}}
        
                <label for="bairro">Bairro:</label>
                {{form2.bairro}}
        
                <label for="cep">CEP:</label>
                {{form2.cep}}
        
                {{form.vagas_total.label}}
                {{form.vagas_total}}

                {{form.vagas_pref.label}}
                {{form.vagas_pref}}

                {{form.vagas_cob.label}}
                {{form.vagas_cob}}

                {{form.vagas_disp.label}}
                {{form.vagas_disp}}


                <input type="submit" id="submitBtn" value="Cadastrar">
            </form>
        </div>
</body>
</html>