{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
  <link rel="stylesheet" href="{% static '/styles/cadastrar-empresas.css' %}">
  <title>PARKIN</title>
</head>
<body>
  <main>
    <div class="centro">
      <div class="conteudo-esq">
        <div class="titulo-esq">
          <h1>Cadastro</h1>
          <p>Seu lugar é aqui. Fácil e rápido!</p>
          <button class="saibamais">Saiba Mais</button>
        </div>
        <img class="detalhes-img" src="{% static 'assets/img/detalhes1.png' %}">
      </div>

      <div class="conteudo-dir">
        <div class="titulo-cliente">
          <h1>Empresa</h1>
        </div>
        <div class="login-dir">
          <form action="{% url 'empresas:cadastroempresa' %}" method="post">
            <div class="login">
              <div class="titulos">
                <h1>Cadastro</h1>
                <p>Faça parte!</p>
              </div>
              {% csrf_token %}
                <div class="import">
                  <img src="{% static 'assets/icons/user.svg' %}" class="email-img">
                  <div class="form">
                    <input type="text" name="nome" placeholder="Nome fantasia" id="email" required>
                  </div>
                </div>
                <div class="import">
                  <img src="{% static 'assets/icons/company.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="text" name="razao" placeholder="Razão social" id="email" required>
                  </div>
                </div>
                <div class="import">
                  <img src="{% static 'assets/icons/email.svg' %}" class="email-img">
                  <div class="form">
                    <input type="email" name="email" placeholder="E-mail" id="email" required>
                  </div>
                </div>
                <div class="import">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha" placeholder="Senha" id="email" required>
                  </div>
                </div>
                <div class="import">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha2" placeholder="Confirme a senha" id="email" required>
                  </div>
                </div>
                <div class="import">
                  <img src="{% static 'assets/icons/cnpj.svg' %}" class="senha-img">
                  <input type="text" name="cnpj" id="cnpj" placeholder="00.000.000/0000-00" maxlength="18" minlength="18">
                </div>
                <div class="check">
                  <input type="checkbox" name="check" id="check">
                  <p>Termos de consentimento</p>
                </div>
              <div class="botao">
                <input type="submit" value="Cadastrar" id="button">
                <div class="entrar">
                  <p>Já possui uma conta?</p>
                  <a href="/empresas/entrar">Entrar</a>
                </div>
              </div>
              <div class="botoes">
                <div class="b-estacionamento">
                  <a href="/clientes/cadastrar" class="ativo">Clientes</a>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>

</html>

<body>