{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
  <link rel="stylesheet" href="{% static '/styles/cadastrar-empresas.css' %}">
  <title>PARKIN</title>
</head>
<body>
  <main>
    <div class="centro">
      <div class="conteudo-esq">
        <div class="titulo-esq">
          <h1>Cadastro</h1>
          <p>Seu lugar é aqui. Fácil e rápido!</p>
          <button class="saibamais">Saiba Mais</button>
        </div>
        <img class="detalhes-img" src="{% static 'assets/img/detalhes1.png' %}">
      </div>
      <div class="conteudo-dir" id="empresa">
        <form action="" method="post">
          {% csrf_token %}
            <div class="import">
              <img src="{% static 'assets/img/user.png' %}">
              <input type="text" name="nome" id="nome" required>
              <label for="nome">Nome Fantasia</label>
            </div>
            <div class="import">
              <img src="{% static 'assets/img/key.png' %}">
              <input type="text" name="razao" id="razao" required>
              <label for="razao">Razão Social</label>
            </div>
            <div class="import">
              <img src="{% static 'assets/img/email.png' %}">
              <input type="email" name="email" id="email" required>
              <label for="email">Email</label>
            </div>
            <div class="import">
              <img src="{% static 'assets/img/key.png' %}">
              <input type="password" name="senha" id="senha" required>
              <label for="senha">Senha</label>
            </div>
            <div class="import">
              <img src="{% static 'assets/img/key.png' %}">
              <input type="password" name="senha2" id="senha2" required>
              <label for="senha">Confirme sua senha</label>
            </div>
            <div class="import">
              <img src="{% static 'assets/img/key.png' %}">
              <input type="text" name="cnpj" id="cnpj" placeholder="00.000.000/0000-00." maxlength="18" minlength="18">
              <label for="senha">CNPJ</label>
            </div>
          <div class="check">
            <input type="checkbox" name="check" id="check">
            <a href="/"> Termos de consentimento</a>
          </div>
          <div class="entrar">
            <p>Já possui uma conta?</p>
            <a href="/empresas/entrar/">Entrar</a>
          </div>
          <input type="submit" value="Cadastrar" id="button">
        </form>
      </div>
    </div>
  </main>
  <footer>
    {%block footer%}
      {%include 'main/footer.html'%}
    {%endblock%}
  </footer>
</body>

</html>
<body>