{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
  <link rel="stylesheet" href="{% static '/styles/cadastrar-empresas.css' %}">
  <link rel="shortcut icon" href="{% static '/assets/img/logo2.ico' %}">
  <title>PARKIN</title>
</head>
<body>
  <main>
    <div class="centro">
      <div class="conteudo-esq">
        <div class="titulo-esq">
          <h1>Cadastro</h1>
          <p>Seu lugar é aqui. Fácil e rápido!</p>
          <button class="saibamais">Saiba Mais</button>
        </div>
        <img class="detalhes-img" src="{% static 'assets/img/detalhes1.png' %}">
      </div>
      <div class="conteudo-dir">
        <div class="titulo-cliente">
          <h1>Empresa</h1>
        </div>
        <div class="login-dir">
          <form action="" method="post">
            <div class="login">
              <div class="titulos">
                <h1>Cadastro</h1>
                <p>Faça parte!</p>
              </div>
              {% csrf_token %}
                <div class="import">
                  <img src="{% static 'assets/icons/user.svg' %}" class="email-img">
                  <div class="form">
                    <input type="text" name="nome" placeholder="Nome fantasia" id="email" required>
                  </div>
                </div>
                <div class="import">
                  <img src="{% static 'assets/icons/company.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="text" name="razao" placeholder="Razão social" id="email" required>
                  </div>
                </div>
                {% if erro_email == False%}
                <div class="import">
                  <img src="{% static 'assets/icons/email.svg' %}" class="email-img">
                  <div class="form">
                    <input type="email" name="email" placeholder="E-mail" id="email" required>
                  </div>
                </div>
                {% else %}
                <div class="import" style="border: 1px solid #d50303;">
                  <img src="{% static 'assets/icons/email.svg' %}" class="email-img">
                  <div class="form">
                    <input type="email" name="email" placeholder="E-mail" id="email" required>
                  </div>
                </div>
                {% endif %}
                <div class="import">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha" placeholder="Senha" id="email" required>
                  </div>
                </div>
                {%if erro_senha == False%}
                <div class="import">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha2" placeholder="Confirme a senha" id="senha" required>
                  </div>
                </div>
                {% else %}
                <div class="import" style="border: 1px solid #d50303;">
                  <img src="{% static 'assets/icons/senha.svg' %}" class="senha-img">
                  <div class="form">
                    <input type="password" name="senha2" placeholder="Confirme a senha" id="senha" required>
                  </div>
                </div>
                {% endif %}
                {%if erro_cnpj == False%}
                <div class="import">
                  <img src="{% static 'assets/icons/cnpj.svg' %}" class="senha-img">
                  <input type="text" name="cnpj" id="cnpj" placeholder="00.000.000/0000-00" maxlength="18" minlength="18" required>
                </div>
                {% else %}
                <div class="import" class="import" style="border: 1px solid #d50303;">
                  <img src="{% static 'assets/icons/cnpj.svg' %}" class="senha-img">
                  <input type="text" name="cnpj" id="cnpj" placeholder="00.000.000/0000-00" maxlength="18" minlength="18" required>
                </div>
                {% endif %}
                <div class="check">
                  <input type="checkbox" name="check" id="check">
                  {%if erro_check == False%}
                    <p class="termos" onclick="openModal()">Termos de consentimento</p>
                  {%else%}
                    <p class="termos-erro" onclick="openModal()">Termos de consentimento</p>
                  {%endif%}
                  <div id="myModal" class="modal">
                    <div class="modal-content">
                      <div>
                      <span class="close" onclick="closeModal()">&times;</span>
                      </div>
                      <div>
                        <h1 class="termo">Termos de consentimento para Empresas</h1><br/>
                        <p class ="texto">   A equipe por trás do ParkIn desenvolve tecnologias e serviços destinados a
                          conectar empresas com usuários e expandir seus negócios. Estes termos regem o
                          uso do ParkIn por empresas, exceto quando outros termos são expressamente
                          declarados. Ao cadastrar-se e utilizar os serviços do ParkIn, a empresa concorda
                          com os termos e condições estabelecidos neste documento. Vale ressaltar que a
                          utilização do ParkIn não gera custos para as empresas. Em vez disso, os
                          anunciantes pagam para promover seus produtos e serviços aos usuários da
                          plataforma.</p><br/>
                          <p class = "texto">A equipe do ParkIn utiliza os dados pessoais fornecidos pelas empresas para
                            oferecer uma experiência personalizada e eficiente na plataforma. É importante
                            ressaltar que não vendemos nem compartilhamos esses dados com terceiros sem o
                            consentimento prévio da empresa. Os anunciantes informam os tipos de
                            público-alvo desejados para seus anúncios, e o ParkIn utiliza essas informações
                            para direcionar os anúncios de maneira mais eficaz. Relatórios de desempenho dos
                            anúncios podem ser fornecidos às empresas para análise. Ademais:     </p><br>
                            
                              <p class = "ponto">● O estacionamento passará por uma avaliação, de equipe a ser determinada,
                                para garantir a sua validade.<br/>
                                ● A veracidade dos dados inseridos está por responsabilidade da empresa,
                                sendo esta responsável pelas consequências da falsidade.<br/>
                                ● A empresa concorda em ter seu estabelecimento apresentado no site.</p><br/>
                                <p class = "texto">Ao clicar em "Aceitar" ou utilizar os serviços oferecidos pelo ParkIn, você
                                  concorda integralmente com os termos e condições deste Termo de Consentimento,
                                  e concorda em aderir a eles de forma voluntária e consciente.</p>
                          </div>
                    </div>
                  </div>
                </div>
              <div class="botao">
                <input type="submit" value="Cadastrar" id="button">
                <div class="entrar">
                  <p>Já possui uma conta?</p>
                  <a href="/empresas/entrar">Entrar</a>
                </div>
              </div>
              <div class="botoes">
                <div class="b-estacionamento">
                  <a href="/clientes/cadastrar" class="ativo">Clientes</a>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script>
    function formatCNPJ(cnpj) {
      cnpj = cnpj.replace(/\D/g, '');
      return cnpj.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})$/, '$1.$2.$3/$4-$5');
    }

    document.getElementById('cnpj').addEventListener('input', function (event) {
      var target = event.target;
      var input = target.value.replace(/\D/g, '');
      var formattedInput = formatCNPJ(input);
      target.value = formattedInput;
    });


  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  </script>
</body>
</html>
