{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Estacionamentos</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/comofunciona.css' %}">
    <link rel="shortcut icon" href="{% static '/assets/img/logo2.ico' %}">
</head>
<body>
    <header>
    {% block navbar %}
        {% include 'empresas/navbar.html' %}
    {% endblock %}
    </header>
    <div class="content1">
        <nav class="side-bar">
            <ul>
                <div class="dashboard">
                    <li>
                        <a href="/empresas/dashboard">
                            <img src="{% static 'assets/icons/dashboard-icon2.svg' %}" alt="Icone do Dashboard" class="dashboard-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/dashboard">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </div>
                <div class="summary">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/summary-icon.svg' %}" alt="Meus Resumos" class="summary-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/resumos">
                            <p>Meus Resumos</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/estacionamento">
                            <img src="{% static 'assets/icons/park-icon.svg' %}" alt="Estacionamentos" class="park-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/estacionamento">
                            <p>Estacionamento</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/notificacoes">
                            <img src="{% static 'assets/icons/notification-icon.svg' %}" alt="Meus Resumos" class="notification-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/notificacoes">
                            <p>Notificações</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p1">Outras Informações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/ajuda">
                            <img src="{% static 'assets/icons/help-icon.svg' %}" alt="Icone de Ajuda" class="help-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/ajuda">
                            <p>Precisa de Ajuda?</p>
                        </a>
                    </li>
                </div>
                <div class="help2">
                    <li>
                        <a href="/empresas/comofunciona">
                            <img src="{% static 'assets/icons/help2-icon2.svg' %}" alt="Icone de Ajuda 2" class="help2-icon2">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/comofunciona">
                            <p>Como Funciona?</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p2">Configurações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/cadastro">
                            <img src="{% static 'assets/icons/signup2-icon.svg' %}" alt="Icone de Cadastro 2" class="signup2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/cadastro">
                            <p>Cadastro do Estacionamento</p>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>

    <div class="content2">
        <div class="first-content">
            <img src="{% static 'assets/img/setas.png' %}" alt="Imagem Seta" class="seta1-img">
            <img src="{% static 'assets/img/setas.png' %}" alt="Imagem Seta" class="seta2-img">
            <ul>
                <li>
                    <h1>Como Funciona?</h1>
                    <p>Aqui é a área onde você irá controlar o seu estacionamento e ver métricas de desempenho em tempo real. Confira abaixo as funcionalidades!</p>  
                </li>
            </ul>
            <img src="{% static 'assets/img/park1.png' %}" alt="Imagem Estacionamento" class="park1-img">
        </div>
        <div class="second-content">
            <img src="{% static 'assets/img/dashboard1.png' %}" alt="Imagem Dashboard" class="dashboard1-img">
            <ul>
                <li>
                    <h2>Dashboard</h2>
                    <p>
                        No seu Dashboard você encontrará suas estátisticas gerais. Lá será possível você acompanhar informações como: disponibilidade de vagas, gráficos mensais ou semanais sobre seu desempenho, tempo médio e muitas outras funcionalidades.
                    </p>
                </li>
            </ul>
        </div>
        <div class="third-content">
            <h2>Outras Funcionalidades</h2>
            <ul>
                <li>
                    <h3>Notificações em Tempo Real</h2>
                    <p>
                        Mantenha-se informado sobre o status do seu estacionamento no momento exato em que precisa. Receba notificações instantâneas sobre a disponibilidade de vagas e lembretes úteis para evitar possíveis contratempos.
                    </p>
                </li>
                <li>
                    <h3>Histórico do Estacionamento</h3>
                    <p>
                        Tenha controle total sobre suas atividades de estacionamento com nosso histórico detalhado. Consulte facilmente datas, horários e locais em que houve alteração, permitindo uma gestão eficiente e um registro completo de suas experiências passadas.
                    </p>
                </li>
                <li>
                    <h3>Suporte 24/7</h3>
                    <p>
                        Estamos aqui para você a qualquer hora do dia ou da noite. Nosso suporte de 24 horas por dia, 7 dias por semana, oferece assistência imediata para resolver dúvidas, fornecer orientações técnicas ou simplesmente garantir que sua experiência seja sempre positiva.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>