{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/dashboard.css' %}">
    <link rel="shortcut icon" href="{% static '/assets/img/logo2.ico' %}">
</head>
<body>
    <header>
    {% block navbar %}
        {% include 'empresas/navbar.html' %}
    {% endblock %}
    </header>
    <div class="content1">
        <nav class="side-bar">
            <ul>
                <div class="dashboard">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/dashboard-icon.svg' %}" alt="Icone do Dashboard" class="dashboard-icon">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/resumos">
                            <img src="{% static 'assets/icons/summary-icon.svg' %}" alt="Meus Resumos" class="summary-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/resumos">
                            <p>Meus Resumos</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/estacionamento">
                            <img src="{% static 'assets/icons/park-icon.svg' %}" alt="Estacionamentos" class="park-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/estacionamento">
                            <p>Estacionamento</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/notificacoes">
                            <img src="{% static 'assets/icons/notification-icon.svg' %}" alt="Meus Resumos" class="notification-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/notificacoes">
                            <p>Notificações</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p1"></p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/ajuda">
                            <img src="{% static 'assets/icons/help-icon.svg' %}" alt="Icone de Ajuda" class="help-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/ajuda">
                            <p>Precisa de Ajuda?</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/comofunciona">
                            <img src="{% static 'assets/icons/help2-icon.svg' %}" alt="Icone de Ajuda 2" class="help2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/comofunciona">
                            <p>Como Funciona?</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p2"></p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/cadastro">
                            <img src="{% static 'assets/icons/signup2-icon.svg' %}" alt="Icone de Cadastro 2" class="signup2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/cadastro">
                            <p>Cadastro do Estacionamento</p>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="content2">
        <ul>
            <li>
                <h1>
                    Dashboard
                </h1>
            </li>
        </ul>

        <div class="infos">
            <div class="details1">
                <ul>
                    <li>
                        <div class="info">
                            <div class="text">
                                <h2>4</h2>
                                <p>Estacionamentos<br>Ativos</p>
                            </div>
                            <div class="circulo">
                                <img src="{% static 'assets/icons/parks-icon.svg' %}" alt="Icone de Estacionamentos" class="parks-icon">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="details2">
                <div class="rentangulo">
                    <ul>
                        <li>
                            <div class="info">
                                <div class="text">
                                    <h2>23</h2>
                                    <p>Vagas Disponíveis</p>
                                </div>
                                <div class="circulo">
                                    <img src="{% static 'assets/icons/available-icon.svg' %}" alt="Icone de Disponibilidade" class="available-icon">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="details3">
                <div class="rentangulo">
                    <ul>
                        <li>
                            <div class="info">
                                <div class="text">
                                    <h2>59</h2>
                                    <p>Vagas Ocupadas</p>
                                </div>
                                <div class="circulo">
                                    <img src="{% static 'assets/icons/nopark-icon.svg' %}" alt="Icone de Ocupado" class="nopark-icon">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="details4">
                <div class="rentangulo">
                    <ul>
                        <li>
                            <div class="info">
                                <div class="text">
                                    <h2>42min</h2>
                                    <p>Tempo médio<br>por pessoa</p>
                                </div>
                                <div class="circulo">
                                    <img src="{% static 'assets/icons/time-icon.svg' %}" alt="Icone de Tempo" class="time-icon">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cont-grafico">
            <div class="titulos">
                <h1 class="titulo1">Gráfico em Tempo Real</h1>
                <div class="subtitulo">
                    <div class="titulo2">
                        <h1>23</h1>
                        <p>Vagas Disponíveis</p>
                    </div>
                    <div class="titulo3">
                        <h1>59</h1>
                        <p>Vagas Ocupadas</p>
                    </div>
                </div>
                <div class="grafico">
                    <img src="{% static 'assets/img/grafico.png' %}" alt="Imagem de Grafico" class="grafico-img">
                </div>
            </div>
        </div>
        <div class="setedias">
            <div class="resultados">
                <div class="primeirotitulo">
                    <h1>Últimos 7 Dias
                </div>
                <div class="segundotitulo">
                    <h1>832</h1>
                    <p>Clientes Totais</p>
                </div>
                <div class="terceirotitulo">
                    <h1>R$12.492</h1>
                    <p>Possível Retorno</p>
                </div>
                <div class="barra"></div>
                <img src="{% static 'assets/img/grafico2.png' %}" alt="Imagem de Grafico 2" class="grafico2-img">
            </div>
        </div>
    </div>
</body>
</html>