<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/cadastroprincipal.css' %}">
  <title>PARKIN</title>
</head>
<body>
  <main style="margin-top: 0; height: 550px;">
    <div class="centro">
      <h1>Entrar</h1>
      <div class="botoes">
        <a href="/clientes/entrar/">Clientes</a>
        <a href="/empresas/entrar/" class="ativo">Empresa</a>
      </div>
      <div class="conteudo">
        <form action="" method="post">
          {% csrf_token %}
          {% if email_apparence == True %}
            <div class="import">
              <img src="{% static 'assets/img/email.png' %}">
              {{ form.email }}
              <label for="email">{{ form.email.label }}</label>
            </div>
          {%else%}
            <div class="import" style="background-color: rgba(255, 0, 0, 0.466);">
              <img src="{% static 'assets/img/email.png' %}">
              {{ form.email }}
              <label for="email">{{ form.email.label }}</label>
              <span>email inválido</span>
            </div>
          {%endif%}
          {% if senha == confirme  %}
            <div class="import">
              <img src="{% static 'assets/img/key.png' %}">
              {{ form.senha }} 
              <label for="senha">{{ form.senha.label }}</label>
            </div>
          {%else%}
          <div class="import">
            <img src="{% static 'assets/img/key.png' %}">
            {{ form.senha }}
            <label for="senha">{{ form.senha.label }}</label>
          </div>
          {%endif%}
          <div class="entrar">
            <p>Não possui uma conta?</p>
            <a href="/empresas/cadastrar">Cadastrar-se</a>
          </div>
          <input type="submit" value="Entrar" id="button">
        </form>
      </div>
    </div>
  </main>
  <footer style="margin-top: 25px;">
    {%block footer%}
      {%include 'main/footer.html'%}
    {%endblock%}
  </footer>
</body>

</html>

<body>