{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Resumos</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/estacionamento.css' %}">
    <link rel="shortcut icon" href="{% static '/assets/img/logo2.ico' %}">
</head>
<body>
    <header>
    {% block navbar %}
        {% include 'empresas/navbar.html' %}
    {% endblock %}
    </header>
    <div class="content1">
        <nav class="side-bar">
            <ul>
                <div class="dashboard">
                    <li>
                        <a href="/empresas/dashboard">
                            <img src="{% static 'assets/icons/dashboard-icon2.svg' %}" alt="Icone do Dashboard" class="dashboard-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/dashboard">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </div>
                <div class="summary">
                    <li>
                        <a href="/empresas/resumos">
                            <img src="{% static 'assets/icons/summary-icon.svg' %}" alt="Meus Resumos" class="summary-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/resumos">
                            <p>Meus Resumos</p>
                        </a>
                    </li>
                </div>
                <div class="park">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/park-icon2.svg' %}" alt="Estacionamentos" class="park-icon2">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>Estacionamento</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/notificacoes">
                            <img src="{% static 'assets/icons/notification-icon.svg' %}" alt="Meus Resumos" class="notification-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/notificacoes">
                            <p>Notificações</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p1">Outras Informações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/ajuda">
                            <img src="{% static 'assets/icons/help-icon.svg' %}" alt="Icone de Ajuda" class="help-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/ajuda">
                            <p>Precisa de Ajuda?</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/comofunciona">
                            <img src="{% static 'assets/icons/help2-icon.svg' %}" alt="Icone de Ajuda 2" class="help2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/comofunciona">
                            <p>Como Funciona?</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p2">Configurações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/cadastro">
                            <img src="{% static 'assets/icons/signup2-icon.svg' %}" alt="Icone de Cadastro 2" class="signup2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/cadastro">
                            <p>Cadastro do Estacionamento</p>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="content2">
        {% for local in locais%}
        <div class='principal'>
            <div class='imagens'> 
                <img src="{% static 'assets/img/imagemale2.jpg' %}">  
            </div>
            <div class='baixo'>
                <div class='escrita'>
                    <h2>{{local.nome_estacionamento}}</h2>
                    <div class='vagas'>
                        <p>{{local.vagas_disp}} Vagas • {{local.vagas_cob}} Vagas cobertas • {{local.vagas_pref}} Vagas preferênciais</p> 
                    </div>
                    <div class='aberto'>
                        <h4>Dias de funcionamento:</h4>
                        {% for dia in local.dias_abertos %}
                            <p>{{ dia }}</p>
                        {% endfor %}
                    </div>                  
                    <div class='descricao'>
                        <h4>Descriçao</h4>
                        <p>{{local.descricao}}</p>
                    </div>
                    {% for endereco in enderecos%}
                        <div class='endereco'>
                            <h4>Endereço:</h4>
                            <p>{{endereco.local}}, {{endereco.bairro}}, n°:{{endereco.numero}}</p>   
                            <p>CEP: {{endereco.cep}}</p>
                        </div>
                    {%endfor%}
                </div>
                <div class='preco'>
                    <p>Preço: R${{local.valor}}</p> 
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</body>
</html>