{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Estacionamentos</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/help.css' %}">
</head>
<body>
    <header>
    {% block navbar %}
        {% include 'empresas/navbar.html' %}
    {% endblock %}
    </header>
    <div class="content1">
        <nav class="side-bar">
            <ul>
                <div class="dashboard">
                    <li>
                        <a href="/empresas/dashboard">
                            <img src="{% static 'assets/icons/dashboard-icon2.svg' %}" alt="Icone do Dashboard" class="dashboard-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/dashboard">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </div>
                <div class="summary">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/summary-icon.svg' %}" alt="Meus Resumos" class="summary-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/resumos">
                            <p>Meus Resumos</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/estacionamento">
                            <img src="{% static 'assets/icons/park-icon.svg' %}" alt="Estacionamentos" class="park-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/estacionamento">
                            <p>Estacionamento</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/notificacoes">
                            <img src="{% static 'assets/icons/notification-icon.svg' %}" alt="Meus Resumos" class="notification-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/notificacoes">
                            <p>Notificações</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p1">Outras Informações</p>
                </li>
                <div class="help">
                    <li>
                        <a href="/empresas/ajuda">
                            <img src="{% static 'assets/icons/help-icon2.svg' %}" alt="Icone de Ajuda" class="help-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/ajuda">
                            <p>Precisa de Ajuda?</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/comofunciona">
                            <img src="{% static 'assets/icons/help2-icon.svg' %}" alt="Icone de Ajuda 2" class="help2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/comofunciona">
                            <p>Como Funciona?</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p2">Configurações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/cadastro">
                            <img src="{% static 'assets/icons/signup2-icon.svg' %}" alt="Icone de Cadastro 2" class="signup2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/cadastro">
                            <p>Cadastro do Estacionamento</p>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="content2">
        <div class="container">
            <h2>Fale Conosco</h2>
            <form action="#" method="post" id="contact-form">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>
        
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
        
                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" maxlength="500" rows="4" required></textarea>
        
                <button type="submit">Enviar</button>
        
                <!-- Ícones de Redes Sociais -->
                <div class="social-icons">
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <!-- Adicione o ícone do WhatsApp e o link do número -->
                    <a href="https://wa.me/seu_numero_de_telefone" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>