{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/notificacao.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="logo">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/logo-icon.svg' %}" alt="Icone da Logo" class="logo-icon">
                        </a>
                    </li>
                    <li>
                        <h1>ParkIn</h1>
                    </li>
                </div>
                <div class="search">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/search-icon.svg' %}" alt="Icone de Pesquisa" class="search">
                        </a>
                    </li>
                    <li>
                        <input type="text" placeholder="Pesquisar..."class="search-text">
                    </li>
                </div>
                <div class="notification">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/notification-icon.svg' %}" alt="Icone de Notificação" class="notification-icon">
                        </a>
                    </li>
                </div>
                <div class="user">
                    <li>
                        <a href="">
                            <img src="{% static 'assets/img/user-img.png' %}" alt="Foto do Usuario" class="user-img">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h1>{{ nome }}</h1>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{% static 'assets/icons/seta-icon.svg' %}" alt="Icone de Seta" class="seta-icon">
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>
    <div class="content1">
        <nav class="side-bar">
            <ul>
                <div class="menu-side-bar">
                    <li>
                        <a href=/dashboard>
                            <img src="{% static 'assets/icons/dashboard-icon2.svg' %}" alt="Icone do Dashboard" class="dashboard-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/dashboard">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/resumos">
                            <img src="{% static 'assets/icons/summary-icon.svg' %}" alt="Meus Resumos" class="summary-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/resumos">
                            <p>Meus Resumos</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/estacionamento">
                            <img src="{% static 'assets/icons/park-icon.svg' %}" alt="Estacionamentos" class="park-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/estacionamento">
                            <p>Estacionamento</p>
                        </a>
                    </li>
                </div>
                <div class="notificacao">
                    <li>
                        <a href="/empresas/notificacoes">
                            <img src="{% static 'assets/icons/notification-icon2.svg' %}" alt="Meus Resumos" class="notificacao-icon2">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/notificacoes">
                            <p>Notificações</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p1">Outras Informações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/ajuda">
                            <img src="{% static 'assets/icons/help-icon.svg' %}" alt="Icone de Ajuda" class="help-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/ajuda">
                            <p>Precisa de Ajuda?</p>
                        </a>
                    </li>
                </div>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/comofunciona">
                            <img src="{% static 'assets/icons/help2-icon.svg' %}" alt="Icone de Ajuda 2" class="help2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/comofunciona">
                            <p>Como Funciona?</p>
                        </a>
                    </li>
                </div>
                <li>
                    <p class="p2">Configurações</p>
                </li>
                <div class="menu-side-bar">
                    <li>
                        <a href="/empresas/cadastro">
                            <img src="{% static 'assets/icons/signup2-icon.svg' %}" alt="Icone de Cadastro 2" class="signup2-icon">
                        </a>
                    </li>
                    <li>
                        <a href="/empresas/cadastro">
                            <p>Cadastro do Estacionamento</p>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</body>
</html>