{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/visaogeral.css' %}">
    <title>Visão Geral</title>
</head>
<body>
    <div class="conteudo">

        <div class="barra-lateral">
            <h1>Meu Estacionamento</h1>
            <div class="menu">
                <div class="menu-item">
                    <img src="{% static 'img/dashboard.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Visão Geral</a>
                </div>
                <div class="menu-item">
                    <img src="{% static 'img/info.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Informações</a>
                </div>
                <div class="menu-item">
                    <img src="{% static 'img/relogio.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Tempo Real</a>
                </div>
                <div class="menu-item">
                    <img src="{% static 'img/cadastro.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Meu Cadastro</a>
                </div>
            </div>
        </div>

        <div class="titulo">
            <h1>
                Visão Geral
            </h1>
        </div> 

        <div class="grafico">

        </div>
    </div>
</body>
</html>