{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/visaogeral.css' %}">
    <title>Visão Geral</title>
</head>
<body>
    <div class="conteudo">

        <div class="barra-direita">
            <img src="{% static 'img/empresa.png' %}" class="empresa">

            <h1>ParkIn</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aspernatur distinctio voluptates consequatur cum aliquam ea facere nam provident culpa recusandae ex dolorem dolores, quidem molestiae labore ad dignissimos odio!</p>
        </div>

        <div class="barra-lateral">
            <h1>Meu Estacionamento</h1>
            <div class="menu">
                <div class="menu-item">
                    <img src="{% static 'img/dashboard.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Visão Geral</a>
                </div>
                <div class="menu-item">
                    <img src="{% static 'img/info.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Informações</a>
                </div>
                <div class="menu-item">
                    <img src="{% static 'img/relogio.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Tempo Real</a>
                </div>
                <div class="menu-item">
                    <img src="{% static 'img/cadastro.png' %}" class="dashboard-icon">
                    <a href="/visaogeral">Meu Cadastro</a>
                </div>
            </div>
        </div>

        <div class="titulo">
            <h1>
                Visão Geral
            </h1>
        </div> 

        <div>
            <img src="{% static 'img/grafico.png' %}" class="grafico">
        </div>

        <div class="conteudo2">
            <div class="bloco-estacionamento">

                <img src="{% static 'img/estacionamento1.jpg' %}" class="estacionamento">
            </div>
            <h1>Estacionamento Shopping Neumarkt</h1>
            <p>Localização: </p>
        </div>    
    </div>
</body>
</html>