{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/visaogeral.css' %}">
    <title>Visão Geral</title>
</head>
<body>
        <div class="barra">
        </div>

        <div class="barra-lateral">
            <div class="menu">
                <a href="/visaogeral">Visão Geral</a>
                <a href="/visaogeral">Meu estacionamento</a>
                <a href="/visaogeral">Informações</a>
                <a href="/visaogeral">Tempo Real</a>
                <a href="/visaogeral">Meu cadastro</a>
            </div>
        </div>

        <div class="content">
            
        </div>
</body>
</html>