@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F6FA;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
    background: no-repeat center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 200px;
}

/* Fim Header */

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

div.centro {
    background-color: #08092a;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

div.centro h1 {
    color: #ffffff;
}

div.centro .botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.botoes a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    font-size: 20px;
    background-color: #ff912f;
    color: #000000;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.75);
    transition: 1s;
    text-decoration: none;
}

.botoes a:hover {
    background-color: #ff902f94;;
    box-shadow: none;
}

.botoes a.ativo {
    background-color: #ff902f94;
    box-shadow: none;
}

div.centro div div {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

label {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    transition: 250ms;
}

form .import {
    display: flex;
    align-items: flex-start;
    max-width: 450px;
}

div.import img {
    position: absolute;
    width: 15px;
}

form input {
    width: 400px;
    height: 30px;
    padding: 5px 20px;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    border-top: 0px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 0px;
    border-left: 0px;
    font-size: 16px;
}

form input:focus+label,
form input:valid+label {
    font-size: 8px;
    margin: 0;
    transform: translateY(-15px);
}

span {
    position: absolute;
    color: #ff0000;
    font-size: 15px ;
    background-color: transparent;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

input:-webkit-autofill+label {
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

label#data {
    position: relative;
}

select {
    margin-left: 20px;
}

#id_data_nasc {
    background-color: transparent;
    color: #ffffff;
    width: 207px;
    margin-left: 10px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=date] {
    -moz-appearance: textfield;
    appearance: textfield;

}

li{
    list-style: none;
    color: #ff0000;
    position: absolute;
    font-size: 15px;
}

div.check{
    padding: 2px;
}

#check {
    width: 20px;
}

div.entrar a,
div.check a {
    margin-left: 5px;
    color: #ff912f;
}

#button {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    background-color: #ff912f;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 1s;

}

#button:hover {
    background-color: #ff902fa9;
}

div.entrar p {
    color: #ffffff;
}

/* Fim Main */

/* Footer */

footer {
    background-color: #ffffffff;
    color: #08092a;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}

footer p {
    padding: 30px;
}