@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}


body {
background-color: #F5F6FA;
}

header {
background-color: #fff;
width: 100%;
height: 68px;
top: 0;
position: sticky;
z-index: 1;
padding: 12px 0;
box-shadow: 0px 1px 4px 0px rgba(21, 34, 50, 0.08);
}
.content1 {
position: absolute;
width: auto;
}

header nav ul {
width: 100%;
display: flex;
align-items: center;
}

header nav ul .logo {
display: flex;
align-items: center;
margin-left: 50px;
opacity: 0.9;

}

header nav ul .logo li h1 {
color: #000;
font-size: 21.7px;
font-style: normal;
line-height: 31px;
}

header nav ul .logo li .logo-img {
width: 50px;
}

header nav ul .search {
display: flex;
align-items: center;
margin-left: 75px;
gap: 8px;
}

header nav ul .search li .search-text {
color: #5A607F;
border: none;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

header nav ul .notification{
position: absolute;
display: flex;
margin-top: 3px;
right: 233px;
}

header nav ul .user{
width: 185px;
height: 36px;
position: absolute;
display: flex;
align-items: center;
right: 28px;
}

header nav ul .user li h1{
color: #5A607F;
font-size: 14px;
font-style: normal;
font-weight: 400;
margin-left: 8px;
line-height: 20px;
}

header nav ul .user li .user-img{
width: 39px;
height: 39px;
border-radius: 9999px;
}

header nav ul .user li .seta-icon{
width: 24px;
height: 24px;
margin-left: 5px;
transition: transform 0.3s ease; 
}

header nav ul li {
min-width: fit-content;
min-height: fit-content;
cursor: pointer;
}

.side-bar {
width: 260px;
height: 1197px;
background: #F5F6FA;
padding: 16px;
box-shadow: -1px 0px 0px 0px #D7DBEC inset;
}

.side-bar .dashboard {
margin: 0 auto;
align-items: center;
display: flex;
width: 218px;
height: 44px;
}

.side-bar .dashboard .dashboard-icon{
margin-left: 16px;
}

.side-bar .dashboard p{
color: #5A607F;
margin-left: 16px;
}

.side-bar .summary {
margin: 0 auto;
align-items: center;
display: flex;
width: 218px;
height: 44px;
}

.side-bar .summary .summary-icon{
margin-left: 16px;
}

.side-bar .summary p{
color: #5A607F;
margin-left: 16px;
}

.side-bar .park {
margin: 0 auto;
align-items: center;
display: flex;
width: 218px;
height: 44px;
border-radius: 10px;
background: #1E5EFF;
}

.side-bar .park .park-icon2{
margin-left: 16px;
}

.side-bar .park p{
color: #fff;
margin-left: 16px;
}


.side-bar .menu-side-bar {
margin: 0 auto;
align-items: center;
display: flex;
width: 218px;
height: 44px;
}

.side-bar .menu-side-bar p{
color: #5A607F;
margin-left: 16px;
}

.side-bar li .p1 {
color: #A1A7C4;
font-size: 12px;
margin-bottom: 12px;
margin-top: 28px;
margin-left: 17px;
}

.side-bar li .p2 {
color: #A1A7C4;
font-size: 12px;
margin-bottom: 12px;
margin-top: 28px;
margin-left: 17px;
}

.side-bar .menu-side-bar .park-icon{
margin-left: 16px;
}
.side-bar .menu-side-bar .update-icon{
margin-left: 16px;
}
.side-bar .menu-side-bar .signup-icon{
margin-left: 16px;
}
.side-bar .menu-side-bar .signup2-icon{
margin-left: 16px;
}
.side-bar .menu-side-bar .help-icon{
margin-left: 16px;
}
.side-bar .menu-side-bar .help2-icon{
margin-left: 16px;
}

.side-bar .menu-side-bar .notification-icon{
margin-left: 16px;
}

div.principal{
display: flex; 
flex-direction: column;
margin: 20px 90px 50px 350px;
}

div.principal div.imagens img{
width: 400px;
border-radius: 10px;
}

div.principal p {
margin-top: 5px;
}

div.vagas ul{
display: flex;
}


div.aberto{
display: flex;
flex-direction: column;
}

div.aberto p{
margin-top: 0;
}

div.principal div.baixo{
border-top: none;
padding: 0px;
}

div.principal div.vagas{
border-top: none;
padding: 25px 0px
}

div.principal div{
border-top: 1px solid rgba(0, 0, 0, 0.123);
padding: 10px 0px;
}

div.baixo{
display: flex;
width: 100%;
}

div.escrito{
width: 70%;
}

div.preco{
width: 30%;
}

span.menu-trigger{
    display: flex;
    align-items: center;
}

ul.menu-menu{
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0000002e;
    cursor: default;
    margin-top: 3px;
}

ul.menu-menu li{
    font-size: 13px;
    margin-top: 3px;
    padding: 5px;
    border-radius: 5px;
}

ul.menu-menu li:hover{
    background-color: #0000002a;
}

ul.menu-menu li:first-child{
    margin: 0;
}

a li.sair:hover{
    background-color: #cd00003f;
}
