<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
  <title>PARKIN</title>
</head>
<body>
  <header style="background-image: url({% static 'img/cadastro.jpg' %})">
    <h1>Facilite sua busca por estacionamentos no seu dia-a-dia</h1>
  </header>
  <main>
      <form action="" method="post">
        <h1>Cadastrar-se</h1>
        {% csrf_token %}
        <div class="import">
          <input type="text" name="nome" id="nome" required>
          <label for="nome">Nome</label>   
        </div>
        <div class="import">
          <input type="text" name="email" id="email" required>
          <label for="email">Email</label>   
        </div>
        <div class="import">
          <input type="password" name="senha" id="senha" required>
          <label for="senha">Senha</label>   
        </div>
        <div class="import">
          <input type="password" name="confirme" id="confirme" required>
          <label for="confirme">Confirme sua senha</label>   
        </div>
        <div class="notimport">
          <label class="data">Data de nascimento</label>
          <input type="date" name="data" id="data" required>
        </div>
        <div class="import">
          <input type="text" name="cpf" required>
          <label for="cpf">CPF</label>
        </div>
        <div>
          <input type="checkbox" name="check" id="check">
          <a href="/"> Termos de consentimento</a>
        </div>
        <input type="submit" value="Cadastrar" id="button">
      </form>
  </main>
</body>
</html>
<body>