<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
  <title>PARKIN</title>
</head>
<body>
  <header style="background-image: url({% static 'img/cadastro.jpg' %})">
    <h1>Facilite sua busca por estacionamentos no seu dia-a-dia</h1>
  </header>
  <main>
      <div class="centro">
        <h1>Cadastrar-se</h1>
        <div class="botoes">
          <button id="tabPadrao" class="tabs-button" onclick="abrirtab(event, 'usuario')">Clientes</button>
          <button class="tabs-button" onclick="abrirtab(event, 'empresa')">Empresa</button>
        </div>
        <div class="conteudo" id="usuario">
          <form action="" method="post">
            {% csrf_token %} 
            <div class="import">
              <img src="{% static 'img/user.png' %}">
              <input type="text" name="nome" id="nome" required>
              <label for="nome">Nome *</label>   
            </div>
            <div class="import">
              <img src="{% static 'img/email.png' %}">
              <input type="text" name="email" id="email" required>
              <label for="email">Email *</label>   
            </div>
            {% if senha == confirme %}
              <div class="import">
                <img src="{% static 'img/key.png' %}">
                <input type="password" name="senha" id="senha" required>
                <label for="senha">Senha *</label>   
              </div>
              <div class="import">
                <img src="{% static 'img/key.png' %}">
                <input type="password" name="confirme" id="confirme" required>
                <label for="confirme">Confirme sua senha *</label>   
              </div>
            {% else %}
              <div class="import">
                <img src="{% static 'img/key.png' %}">
                <input type="password" name="senha" id="senha" required style="background-color: rgba(255, 0, 0, 0.311);">
                <label for="senha">Senha *</label>   
              </div>
              <div class="import">
                <img src="{% static 'img/key.png' %}">
                <input type="password" name="confirme" id="confirme" required style="background-color: rgba(255, 0, 0, 0.311);">
                <label for="confirme">Confirme sua senha *</label>   
              </div>
            {%endif%}
            <div class="import">
              <img src="{% static 'img/wallet.png' %}">
              <input type="text" name="cpf" id="cpf" maxlength="14" onkeyup="mascara_cpf()"  required>
              <label for="cpf">CPF *</label>
            </div>
            <div class="import">
              <img src="{% static 'img/calendar.png' %}">
              <input type="text" name="data" id="data" maxlength="10" onkeyup="mascara_data()" required>
              <label class="data">Data de nascimento</label>
            </div>
            <div class="import">
              <img src="{% static 'img/celular.png' %}">
              <input type="text" name="cell" id="cell"  required>
              <label class="cell">Telefone</label>
            </div>
            {% if check == None %}
              <div style="background-color: rgba(255, 0, 0, 0.2);">
                <input type="checkbox" name="check" id="check">
                <a href="/" style="color: red;"> Termos de consentimento</a>
              </div>
            {% else %}
              <div>
                <input type="checkbox" name="check" id="check">
                <a href="/">  Termos de consentimento</a>
              </div>
            {%endif%}
            <div class="entrar">
              <p>Já possui uma conta?</p>
              <a href="/entrar">Entrar</a>
            </div>
            <input type="submit" value="Cadastrar" id="button" >
          </div>
        </form>
        <div class="conteudo" id="empresa">
          <form action="" method="post">
            {% csrf_token %} 
            <div class="import">
              <img src="{% static 'img/user.png' %}">
              <input type="text" name="nome" id="nome" required>
              <label for="nome">Nome da empresa</label>   
            </div>
            <div class="import">
              <img src="{% static 'img/email.png' %}">
              <input type="text" name="email" id="email" required>
              <label for="email">Email *</label>   
            </div>
            <div class="import">
              <img src="{% static 'img/key.png' %}">
              <input type="password" name="senha" id="senha" required>
              <label for="senha">Senha *</label>   
            </div>
            <div class="import">
              <img src="{% static 'img/key.png' %}">
              <input type="password" name="confirme" id="confirme" required>
              <label for="confirme">Confirme a senha *</label>   
            </div>
            <div class="import">
              <img src="{% static 'img/wallet.png' %}">
              <input type="text" name="cnpj" id="cnpj" maxlength="18" onkeyup="mascara_cnpj()" required>
              <label for="cpf">CNPJ *</label>
            </div>
            {% if check == None %}
              <div style="background-color: rgba(255, 0, 0, 0.2);">
                <input type="checkbox" name="check" id="check">
                <a href="/" style="color: red;"> Termos de consentimento</a>
              </div>
            {% else %}
              <div>
                <input type="checkbox" name="check" id="check">
                <a href="/"> Termos de consentimento</a>
              </div>
            {%endif%}
            <div class="entrar">
              <p>Já possui uma conta?</p>
              <a href="/entrar">Entrar</a>
            </div>
            <input type="submit" value="Cadastrar" id="button">
          </div>
        </form>
      </div>
  </main>
  <footer>
    {%block footer%}
      {%include 'main/footer.html'%}
    {%endblock%}
  </footer>
  <script>
    document.getElementById('tabPadrao').click();

    function mascara_cpf() {
      var cpf = document.getElementById('cpf')
      if (cpf.value.length === 3 || cpf.value.length === 7){
        cpf.value += '.'
      }
      else if(cpf.value.length === 11){
        cpf.value += '-'
      }
    }

    function mascara_cnpj() {
      var cpf = document.getElementById('cnpj')
      if (cpf.value.length === 2 || cpf.value.length === 6){
        cpf.value += '.'
      }
      else if(cpf.value.length === 10){
        cpf.value += '/'
      }
      else if(cpf.value.length === 15){
        cpf.value += '-'
      }
    }

    function mascara_data() {
      var data = document.getElementById('data')
      if (data.value.length === 2 || data.value.length === 5){
        data.value += '/'
      }
    }

    function abrirtab(event, IdTab){
      var conteudos = document.getElementsByClassName('conteudo');
      for(var i = 0; i < conteudos.length; i++){
        conteudos[i].style.display = 'none';
      }

      var tabs = document.getElementsByClassName('tabs-button');
      for(var i = 0; i < tabs.length; i++){
        tabs[i].className = tabs[i].className.replace('ativo', '');
      }    
         
      document.getElementById(IdTab).style.display = 'block';
      event.currentTarget.className +=  ' ativo';
    }
  </script>
</body>
</html>
<body>