{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/index.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="logo">
                    <li>
                        <a href="/">
                            <img src="{% static 'assets/img/logo2.png' %}" alt="Icone da Logo" class="logo-img">
                        </a>
                    </li>
                    <li>
                        <h1>ParkIn</h1>
                    </li>
                </div>
                <div class="l-c">
                    <div class="login">
                        <li>
                            <a href="/clientes/entrar/">
                                Entrar
                            </a>
                        </li>
                    </div>
                    <div class="cadastro">
                        <li>
                            <a href="/clientes/cadastrar/">
                                Cadastrar-se
                            </a>
                        </li>
                    </div>
                </div>
                <div class="navbar">
                    <li>
                        <a href="">
                            Início
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Estacionamentos
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Quem Somos
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Contato
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>
    <div class="conteudo1">
        <div class="text-banner">
            <ul>
                <li>
                    <h1>Encontre o seu lugar</h1>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Fácil e rápido!</h2>
                </li>
            </ul>
            <ul>
                <li>
                    <p>Aqui você encontrará as melhores funcionalidades, tanto para motoristas quanto para empresas</p>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="botao" href="/empresas/dashboard">Saiba Mais</a>
                </li>
            </ul>
        </div>
        <div class="banner">
            <img src="{% static 'assets/img/banner1.png' %}" alt="Banner" class="banner-img">
        </div>
    </div>
</body>
</html>