{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>PARKIN</title>
</head>
<body>
    <header>
        {%block navbar%}
            {%include 'main/nav.html'%}
        {%endblock%}
    </header>
    <main>
    <div>
        <h3 style="color: aliceblue;">Nosso time é composto por profissionais comprometidos com a excelência, unidos pela visão de criar um impacto positivo nas cidades que habitamos. Combinamos nosso conhecimento em desenvolvimento de software, gestão de projetos e tecnologias emergentes para trazer o PARKIN à vida.</h3>
    </div>
    <div class="segundo">
        <h3> Temos orgulho de fazer parte da turma de Python do programa Entra21 2024, onde tivemos a oportunidade de aprimorar nossas habilidades e contribuir para o desenvolvimento de soluções inovadoras. Na PARKIN, nossa missão vai além de oferecer um serviço - buscamos criar uma comunidade de motoristas e proprietários de estacionamentos comprometidos com a melhoria contínua da experiência de estacionamento urbano.</h3>
    </div>
    </main>
    <footer>
        {%block footer%}
            {%include 'main/footer.html'%}
        {%endblock%}
    </footer>
</body>
</html>