{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" href="{% static '/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static '/styles/quem_somos.css' %}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="logo">
                    <li>
                        <a href="/">
                            <img src="{% static 'assets/img/logo1.png' %}" alt="Icone da Logo" class="logo-img">
                        </a>
                    </li>
                    <li>
                        <h1>ParkIn</h1>
                    </li>
                </div>
                <div class="l-c">
                    <div class="login">
                        {% if user.is_authenticated %}
                            <li><a href="/logout" class="nav-link">Sair</a></li> 
                        {% else %}
                            <li>
                                <a href="/clientes/entrar/">
                                    Entrar
                                </a>
                            </li>
                        </div>
                        <div class="cadastro">
                            <li>
                                <a href="/clientes/cadastrar/">
                                    Cadastrar-se
                                </a>
                            </li>
                        {% endif %}
                    </div>
                </div>
                <div class="navbar">
                    <li>
                        <a href="/">
                            Início
                        </a>
                    </li>
                    <li>
                        <a href="/estacionamentos">
                            Estacionamentos
                        </a>
                    </li>
                    <li>
                        <a href="/quemsomos">
                            Quem Somos
                        </a>
                    </li>
                    <li>
                        <a href="/contato">
                            Contato
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>
<div class="conteudo1">
    <section class="historia">
        <h2>Nossa História</h2>
        <p>
            Em uma cidade agitada, onde o estresse de encontrar vagas de estacionamento era uma realidade irritante, um grupo de empreendedores pragmáticos decidiu enfrentar esse problema de frente. Cansados de dar voltas intermináveis à procura de um lugar para estacionar, eles conceberam uma solução prática: o aplicativo "Parkin".

            O objetivo era simples, mas impactante: facilitar a busca por vagas de estacionamento, destacando-se pela otimização dos critérios de busca, focando especialmente em preço e localidade. Para os estabelecimentos, o "Parkin" oferecia um dashboard robusto, repleto de dados que poderiam impulsionar seus negócios.

            O aplicativo foi lançado em meio a um cenário urbano caótico. Motoristas, cansados de gastar tempo e combustível procurando estacionamento, rapidamente adotaram a solução. Com alguns toques na tela, podiam localizar vagas disponíveis nas proximidades, evitando assim as frustrações habituais.

            Para os donos de estacionamentos, o dashboard do "Parkin" se tornou uma ferramenta essencial. Com a capacidade de monitorar a ocupação em tempo real, ajustar preços conforme a demanda e analisar padrões de uso, eles podiam tomar decisões informadas para otimizar seus negócios.

            O sucesso do "Parkin" não foi construído em contos de fadas, mas sim através de uma abordagem pragmática e orientada para resultados. À medida que a eficácia do aplicativo se espalhava, mais cidades adotavam a solução, tornando-o um padrão para quem buscava uma resposta concreta para o desafio diário de estacionar.

            O "Parkin" não apenas simplificou a vida nas ruas congestionadas da cidade, mas também se tornou um exemplo de como a tecnologia, quando aplicada de forma realista, pode resolver problemas práticos e melhorar a eficiência de operações diárias, contribuindo para o sucesso sustentável dos negócios locais.
        </p>
    </section>
</div>
    <section>
        <h2>Nossos Valores</h2>
        <ul>
            <li>Integridade</li>
            <li>Inovação</li>
            <li>Comprometimento</li>
            <li>Respeito</li>
        </ul>
    </section>

    <div>
        <h4 class="centered">Nossa Equipe</h4>
    </div>
    
    <section class="equipe">
                
        <div class="membro">
            <img src="{% static 'assets/img/01.jpg' %}" alt="Foto de Perfil" class="perfil-img">
            <h3>Cristina</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis animi possimus accusantium quam fugit recusandae amet, voluptatum ad, sunt praesentium quo. Doloremque rem laborum ratione obcaecati eveniet. Necessitatibus, accusamus consequatur!</p>
        </div>

        <div class="membro">
                <img src="{% static 'assets/img/02.jpg' %}" alt="Foto de Perfil" class="perfil-img">
                <h4>Cristina</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis animi possimus accusantium quam fugit recusandae amet, voluptatum ad, sunt praesentium quo. Doloremque rem laborum ratione obcaecati eveniet. Necessitatibus, accusamus consequatur!</p>
            </div>

            <div class="membro">
                <img src="{% static 'assets/img/03.jpg' %}" alt="Foto de Perfil" class="perfil-img">
                <h4>Cristina</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis animi possimus accusantium quam fugit recusandae amet, voluptatum ad, sunt praesentium quo. Doloremque rem laborum ratione obcaecati eveniet. Necessitatibus, accusamus consequatur!</p>
            </div>

            <div class="membro">
                <img src="{% static 'assets/img/04.jpg' %}" alt="Foto de Perfil" class="perfil-img">
                <h4>Cristina</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis animi possimus accusantium quam fugit recusandae amet, voluptatum ad, sunt praesentium quo. Doloremque rem laborum ratione obcaecati eveniet. Necessitatibus, accusamus consequatur!</p>
            </div>

            <div class="membro">
                <img src="{% static 'assets/img/05.jpg' %}" alt="Foto de Perfil" class="perfil-img">
                <h4>Cristina</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis animi possimus accusantium quam fugit recusandae amet, voluptatum ad, sunt praesentium quo. Doloremque rem laborum ratione obcaecati eveniet. Necessitatibus, accusamus consequatur!</p>
            </div>

            <div class="membro">
                <img src="{% static 'assets/img/06.jpg' %}" alt="Foto de Perfil" class="perfil-img">
                <h4>Cristina</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis animi possimus accusantium quam fugit recusandae amet, voluptatum ad, sunt praesentium quo. Doloremque rem laborum ratione obcaecati eveniet. Necessitatibus, accusamus consequatur!</p>
            </div>
        </section>
    </div>
</body>
</html>
