* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

@media only screen and (max-width: 1920px) {
    body {
        background-color: #2289ff;
    }
    
    .conteudo {
        background-color: #fdfdfd;
        height: 1500px;
        margin: 50px 100px 30px;
        border-radius: 30px;
        overflow: hidden;
        position: relative
    }
    
    .titulo {
        width: 20%;
        margin: 40px 0px 0px 300px;
    }
    
    .titulo h1 {
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        color: #070049;
    }

    .barra-direita {
        height: 1500px;
        width: 22%;
        position: absolute;
        border-radius: 0px 30px 30px 0px;
        right: 0;
        justify-content: center;
        text-align: center;
    }

    .empresa {
        width: 60%;
        margin-top: 40px;
    }

    .barra-direita h1 {
        font-size: 25px;
        color: #070049;
        font-family: 'Montserrat', sans-serif;
    }

    .barra-direita p {
        font-size: 16px;
        color: #636363;
        font-family: 'Montserrat', sans-serif;
        padding: 20px;
    }
    
    .barra-lateral {
        height: 1500px;
        width: 19%;
        background-color: #f3f3f3;
        position: absolute;
        border-radius: 30px 0px 0px 30px;
    }
    
    .barra-lateral h1 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin: 40px 0px 0px 25px;
        color: #070049
    }
    
    .menu {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
    
    .menu-item {
        display: flex;
        align-items: center;
    }
    
    .menu a {
        font-size: 17px;
        text-decoration: none;
        color: #636363;
        margin: 20px 0;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        cursor: pointer;
        position: relative;
        align-items: center;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
    }
    

    .menu a:focus,
    .menu a:hover {
      color: #070049;
    }
    
    .menu a:focus:after,
    .menu a:hover:after {
      width: 100%;
      left: 0%;
    }

    .menu a:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #070049;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
      }
    
    img.dashboard-icon {
        width: 20px;
        margin-right: 5px;
    }
    
    .grafico {
        width: 700px;
        margin: 20px 300px;
        border-radius: 30px;
    }

    .conteudo2 {
        width: 70%;
        margin: 50px 100px 30px auto;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;

    }

    .conteudo2 h1 {
        font-family: 'Montserrat', sans-serif;
        margin: 0 30px;
    }

    .bloco-estacionamento {
        width: 190px;
        height: 254px;
        border-radius: 30px;
        background: #e0e0e0;
        box-shadow: 15px 15px 30px #bebebe,
                   -15px -15px 30px #ffffff;
        margin: 10px 300px;
        overflow: hidden;
        margin: 0;
    }

    .estacionamento {
        left: 0;
        width: 400px;
    }
}

@media only screen and (max-width: 1366px) {
    body {
        background-color: #070049;
    }
    
    .conteudo {
        background-color: #fdfdfd;
        height: 1500px;
        margin: 50px 100px 5%;
        border-radius: 30px;
        overflow: hidden;
    }
    
    .titulo {
        width: 20%;
        margin: 40px 0px 0px 270px;
    }
    
    .titulo h1 {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        color: #070049;
    }
    
    .barra-lateral {
        height: 1500px;
        width: 20%;
        background-color: #f3f3f3;
        position: absolute;
        border-radius: 30px 0px 0px 30px;
    }
    
    .barra-lateral h1 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        margin: 40px 0px 0px 20px;
        color: #070049
    }
    
    .menu {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
    
    .menu a {
        font-size: 15px;
        text-decoration: none;
        color: #636363;
        margin: 20px 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    .menu a:hover {
        color: #070049;
    }
    
    .grafico {
        width: 50%;
        height: 350px;
        margin: 30px 270px;
        background-color: #070049;
        border-radius: 30px;
    }
}
