@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #05021f;
  font-family: 'Montserrat', sans-serif;
}

/* Header */

header{
    background: no-repeat center;
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.678);

}

header h1{
    color: white;
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 5px;
    padding: 10px;
    font-size: 37px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.678);
    width: 700px;
    text-align: center;
}

/* Fim Header */

/* Main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

form{
    background-color:rgba(255, 255, 255, 0.123);
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

form h1{
    color: #ffffff;
}

form div{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

label{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    transition: 250ms;
    margin-top: 10px;
}

form .import{
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
}

div.import img{
    position: absolute;
    margin-top: 12px;
    width: 15px;
}

form input{
    width: 400px;
    height: 30px;
    padding: 5px 20px;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    border-top: 0px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 0px;
    border-left: 0px;
    font-size: 18px;
}

form input:focus + label, form input:valid + label{
    font-size: 10px;
    margin: 0;
    transform: translateY(-5px);
}

#check{
    width: 20px;
}

div a{
    margin-left: 5px;
    color: white;
}

#button{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 20px;
    transition: 1s;
}

#button:hover{
    background-color: #00000086;
}

div.entrar p{
    color: #ffffff;
}

/* Fim Main */

/* Footer */

footer {
    background-color: #ffffffd7;
    color: #000000;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p {
    padding: 30px;
}