@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F6FA;
  font-family: 'Montserrat', sans-serif;
}


/* Barra de Navegação */

nav {
  position: fixed;
  width: 100%;
  background-color: #fffffff3;
  top: 0%;
  box-shadow: 3x 3px 3px rgba(0, 0, 0, 0.678);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 10px 20px;
}

.open {
  display: flex;
  align-items: center;
}

.open2 {
  display: flex;
}

.menu {
  list-style: none;
  float: left;
}

.menu li {
  position: relative;
  float: left;
  padding: 0px 5px;
}

.menu > li {
  padding: 0px;
}

.menu li p, .menu li a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li p {
  font-size: 19px;
  cursor: default;
}

.menu li ul {
  position: absolute;
  top: 30px;
  left: -11px;
  background-color: rgba(255, 144, 47, 0.959);
  display: none;
  border-radius: 5px;
  height: 100px;
}

.menu li:hover ul, .menu li.over ul {
  display: block;
}

a#logo:hover, a#entra:hover{
  color:  rgba(8, 9, 44, 0.329);
}

li.dd{
  display: flex;
  align-items: center;
}

.menu > li img{
  width: 20px;
  transform:rotate(360deg);
}

.menu li ul li {
  display: block;
  width: 150px;
}

img#triangulo{
  top: -10px;
  position: absolute;
  left: 87px;
  z-index: -1;
}

a.submenu {
  font-size: 17px;
}

a{
  text-decoration: none;
  color: rgb(8, 9, 44);
  font-size: 18px;
  padding: 10px;
  transition: 1s;
}

a.submenu::after{
  content: "";
  width: 0%;
  height: 1px;
  background-color: rgb(8, 9, 44);
  position: absolute;
  bottom:0;
  left: 0;
  transition: 0.5s;
}

a.submenu:hover::after {
  width: 100%;
  color: rgb(8, 9, 44);
}

#logo {
  font-size: 25px;
  font-weight: bold;
}

#registrar {
  border: solid 1px rgb(8, 9, 44);
  border-radius: 5px;
  transition: 1s;
}

#registrar:hover {
  background-color: rgb(8, 9, 44);
  color: #ffffffff;
}

.pesquisa {
  background-color: rgb(8, 9, 44);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-right: 20px;
}

#busca {
  background-color: rgb(8, 9, 44);
  border-radius: 5px;
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  font-size: 17px;
  color: white;
}

#busca::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.884);
}

/* Fim Barra de Navegação */

/* Main */
main {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .descricao {
  display: flex;
  align-items: center;
  width: 90%;
}

#principal {
  width: 30%;
  height: 465px;
  background: no-repeat center;
  background-size: cover;
}

main div p {
  color: rgb(255, 145, 47);
  font-size: 22px;
  margin-top: 10px;
}

div h3 {
  color: rgb(255, 145, 47);
  font-size: 40px;
}

main .secundaria {
  padding: 20px;
  width: 90%;
}

.descricao2 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 50px;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  padding: 40px 0px 0px 0px;
}

.descricao2 p,
.descricao2 h3 {
  text-align: right;
}

/* Fim Main */

/* Footer */

footer {
  background-color: #ffffffff;
  color: #08092a;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}

footer p {
  padding: 30px;
}

/* Fim Footer */
