@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #05021f;
  font-family: 'Montserrat', sans-serif;
}


/* Barra de Navegação */

nav {
  position: fixed;
  width: 100%;
  background-color: #fffffff3;
  top: 0%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.678);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 10px 25px;
}

.open {
  display: flex;
  align-items: center;
}

.open2 {
  display: flex;
}

.menu {
  list-style: none;
  float: left;
}

.menu li {
  position: relative;
  float: left;
}

.menu > li {
  padding: 0px;
}

.menu li p, .menu li a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
}

.menu li p {
  font-size: 19px;
  transition: 1s;
}

.menu li ul {
  position: absolute;
  top: 32px;
  left: -2px;
  background-color: #f5f3f3;
  display: none;
  border: 1px rgba(128, 128, 128, 0.329) solid;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
  height: 60px;
}

.menu li:hover ul, .menu li.over ul {
  display: block;
}

.menu > li:hover{
  border: 1px solid black;
}

.menu li ul li {
  display: block;
  width: 150px;
}

a.submenu {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px;
  transition: 1s;
}

a:hover {
  color: rgba(0, 0, 0, 0.349);
}

#logo {
  font-size: 25px;
  font-weight: bold;
}

#registrar {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 5px;
  transition: 1s;
}

#registrar:hover {
  background-color: #000000;
  color: #ffffffff;
}

.pesquisa {
  background-color: #05021f;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-right: 20px;
}

#busca {
  background-color: #05021f;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  font-size: 17px;
  color: white;
}

#busca::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.644);
}

/* Fim Barra de Navegação */

/* Main */
main {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .descricao {
  display: flex;
  align-items: center;
  width: 70%;
}

#principal {
  width: 40%;
  height: 465px;
  background: no-repeat center;
  background-size: cover;
}

main div h1 {
  color: white;
  font-size: 80px;
  background-color: rgba(0, 0, 0, 0.911);
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;

}

main div p {
  color: rgba(255, 255, 255, 0.603);
  font-size: 22px;
  margin-top: 10px;
}

div h3 {
  color: white;
  font-size: 40px;
}

main .secundaria {
  padding: 20px;
}

.descricao2 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 80px;
  width: 70%;
}

.descricao2 p,
.descricao2 h3 {
  text-align: right;
}

/* Fim Main */

/* Footer */

footer {
  background-color: #ffffffd7;
  color: #000000;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

footer p {
  padding: 30px;
}

/* Fim Footer */
