* {
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
  background-color: #ffffff;
}

header {
  background-color: #FFDE59;
  width: 100%;
  height: 60px;
  top: 0;
  position: relative;
  z-index: 1;
  padding: 12px 0;
  align-items: center;

}

nav {
  width: 90%;
  height: 35px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.logo {
  display: block;
  position: absolute;
  width: 190px;
  display: flex;
  align-items: center;
  bottom: 8px;
}

.logo-img {
  width: 50px;
}

ul .navbar li {
  margin-left: 50px;
  margin-top: 8px;
}

ul .navbar li a {
  font-size: 15px;
  color: #08092a;
}

ul .navbar li a::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  background-color: #000000;
  width: 0;
  transition: 0.3s;

}

ul .navbar li a:hover::after{
  width: 100%;
  left: 0;
}

.l-c {
  position: absolute;
  display: flex;
  right: 80px;
  margin-top: 8px;
}

.l-c .login li a{
  margin-right: 30px;
  color: #08092a;
}

.l-c .cadastro{
  color: #08092a;
}

.l-c .cadastro li a {
  padding: 8px;
  color: #fff;
  border-radius: 10px;
  background-color: #08092a;
}

.conteudo1 {
  width: 100%;
  height: 500px;
  background-color: #FFDE59;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo1 .text-banner {
  position: absolute;
  width: 70%;
}

.conteudo1 .text-banner ul li h1{
  font-size: 45px;
  color: #333;
}

.conteudo1 .text-banner ul li h2{
  font-size: 45px;
  color: #08092a;
}

.conteudo1 .text-banner ul li p{
  font-size: 14px;
  margin-top: 20px;
  color: #717171;
  width: 450px;
}


.conteudo1 .banner {
  position: absolute;
  right: 0;
  width: 50%;
  height: 450px;
  align-items: center;
}

.conteudo1 .banner .banner-img {
  display: block;
  margin: auto;
  width: 350px;
  margin-top: 50px;
}

.botao {
  position: absolute;
  padding: 1.1em 2em;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #08092a;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.botao:hover {
  color: #fff;
  transform: translateY(-7px);
}

.conteudo2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.conteudo2 .text1 h1{
  color: #333;
  font-size: 30px;
}

.conteudo2 .text1 p{
  margin-top: 10px;
  color: #717171;
  font-size: 14px;
}

.conteudo2 .clientes-img {
  width: 1100px;
  margin-top: 20px;
}

.conteudo2 .text2 h1{
  color: #333;
  font-size: 25px;
  margin-top: 20px;
}

.conteudo2 .text2 p{
  margin-top: 10px;
  color: #717171;
  font-size: 14px;
}

.text-flex {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

.info1 {
  margin: 0px 100px 0px 100px;
  width: 300px;
}

.info1 h2{
  color: #333;
  margin-top: 10px;
}

.info1 p{
  color: #717171;
}

.info2 {
  margin: 0px 100px 0px 100px;
  width: 300px;
}

.info2 h2{
  color: #333;
  margin-top: 10px;
}

.info2 p{
  color: #717171;
}

.info3 {
  margin: 0px 100px 0px 100px;
  width: 300px;
}

.info3 h2{
  color: #333;
  margin-top: 10px;
}

.info3 p{
  color: #717171;
}

.text-flex1 {
  display: flex;
  position: relative;
  height: 400px;
  margin: auto;
  width: 80%;
}

.pessoas1-img {
  margin-top: 50px;
  width: 400px;
  position: absolute;
  left: -40px;
}

.p-text {
  width: 60%;
  margin-top: 120px;
  position: absolute;
  right: 20px;
}

.p-text h1{
  color: #333;
  margin-bottom: 10px;
}

.p-text p{
  color: #717171;
}

.botao1 {
  position: absolute;
  padding: 1.1em 2em;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #08092a;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
}

.botao1:hover {
  color: #fff;
  transform: translateY(-7px);
}

.conteudo4 {
  width: 100%;
  height: 300px;
  background-color: #FFDE59;
  margin-top: 50px;
}

.c-cont {
  position: relative;
  width: 80%;
  margin: auto;
  height: 300px;
  display: flex;
  align-items: center;
}

.c-cont .text-flex2{
  position: absolute;
  left: 0;
  width: 50%;
  margin: auto;
}

.c-cont .text-flex2 h1{
  color: #08092a;
}

.c-cont .text-flex2 p{
  color: #333;
}

.c-cont .dados{
  position: absolute;
  right: 0;
  width: 50%;
  margin: auto;
}

.p-text1 {
  width: 60%;
  margin-top: 150px;
  position: absolute;
  right: 20px;
}

.p-text1 h1{
  color: #333;
  margin-bottom: 10px;
}

.p-text1 p{
  color: #717171;
}

.conteudo6 {
  width: 100%;
  margin-top: 100px;
  background-color: #FFDE59;
  height: 250px;
}

.text-n {
  position: absolute;
  margin-top: 30px;
}

.text-n h1{
  color: #08092a;
  margin-bottom: 15px;
}

.text-n p{
  color: #333;
}

.emp-img {
  position: absolute;
  width: 120px;
  margin-top: 180px;
}

footer {
  position: absolute;
  width: 100%;
  height: 350px;
  background-color: #263238;
}

.conts {
  position: relative;
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 70px;
  justify-content: space-between;
}

.logo1 {
  width: 200px;
  display: flex;
  align-items: center;
}

.logo1 h1{
  color: #fff;
}

.text3 {
  margin-top: 30px;
  color: #FFDE59;
  font-size: 15px;
  margin-left: 10px;
}

.text3 p {
  display: block;
  margin-top: 10px;
}

.cont-f2 {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.titulo-f1 h1{
  color: #fff;
  font-size: 25px;
}

.text5 a{
  display: block;
  margin-top: 15px;
  color: #FFDE59;
  font-size: 13px;
}

.text5 a:hover{
  text-decoration: underline;
}


.cont-f3 {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.titulo-f3 h1{
  color: #fff;
  font-size: 25px;
}

.text7 a{
  display: block;
  margin-top: 15px;
  color: #FFDE59;
  font-size: 13px;
}

.text7 a:hover{
  text-decoration: underline;
}

.cont-f4 {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.titulo-f4 h1{
  color: #fff;
  font-size: 25px;
}

.text9 a{
  display: block;
  margin-top: 15px;
  color: #FFDE59;
  font-size: 13px;
}

.text9 a:hover{
  text-decoration: underline;
}

.coisas{
  display: flex;
}

.tamanho{
  height: 250px;
  align-items: baseline;
}

@media only screen and (max-width: 1200px) {

  body{
   max-width: 100%;
  }

  header{
    width: 100%;
  }
  
  .conteudo2 .clientes-img {
    width: 900px;
    margin-top: 20px;
}
  .dados-img{
    width: 100%;
  }

  ul .navbar li a {
    font-size: 13px;
    color: #08092a;
}

.l-c .cadastro li a {
  font-size: 13px;
}

.l-c .login li a {
  font-size: 13px;

}

.cont-f4,  .cont-f3,  .cont-f2{
    width: 150px;
}

.p-text h1 {
  font-size: 25px;
}

.text-flex2 ul li p{
  font-size: 14px;
}

.p-text p {
  font-size: 15px;
}

.botao1 {
  margin-top: 30px;
  font-size: 10px;
}

.pessoas1-img {
  width: 360px;
}

.conteudo1 .banner .banner-img {
  width: 300px;
}

}

@media only screen and (max-width: 960px) {

  ul .navbar li:first-child{
    margin-left: 0;
  }


  

}